:root {
    --dark: #1a1919;
    --light: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: var(--dark);
    color: var(--light);
}

/* grid display for desktop*/
.grid-container {
        display: grid;
        box-sizing: border-box;
        min-width: 600px;
        max-width: 1200px;
        gap: 2% 2%; 
        padding: 1rem;
        grid-template-columns: fit-content(20%) fit-content(40%) fit-content(40%); 
        grid-template-rows: repeat(5); 
        grid-template-areas: 
        "work work-app-1 work-app-2"
        "work work-app-1 work-app-3"
        "about about-descr about-img"
        "contact contact-dets about-img"
        "footer footer footer"; 
}

/* grid display for smaller devices */
@media screen and (max-width: 640px) {
    .grid-container {
        max-width: 600px;
        display: grid;
        box-sizing: border-box;
        gap: 1% 2%; 
        padding: 1rem;
        grid-template-columns: auto auto; 
        grid-template-rows: repeat (10, auto); 
        grid-template-areas: 
        "work work"
        "work-app-1 work-app-1"
        "work-app-1 work-app-1"
        "work-app-2 work-app-2"
        "work-app-3 work-app-3" 
        "about about"
        "about-img about-img"
        "about-descr about-descr"
        "contact contact-dets"
        "footer footer"; 
    }
}

.work { 
    grid-area: work;
 }
.work-app-1 { 
    grid-area: work-app-1; 
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.work-app-2 { 
    grid-area: work-app-2;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.work-app-3 { 
    grid-area: work-app-3;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
 }
.about { 
    grid-area: about;
}
.about-descr { 
    grid-area: about-descr;
    font-size: 13px;
    text-align: center;
 }
.about-img { 
    grid-area: about-img;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
 }
.contact { 
    grid-area: contact; 
    margin: 0;
    align-self: end;
}
.contact-dets { 
    grid-area: contact-dets; 
    margin: 0;
    align-self: end;
    font-size: 14px;
    text-align: center;
}
.footer {
    grid-area: footer;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}

/* sets the static display of the links */
a {
    color:var(--light);
    text-decoration: none;
}

/* sets links when hovered over */
a:hover {
    font-style: italic;
}

/* start of classes setting header element of the page */
.header {
    padding: 5px;
    font: var(--font-family);
    color: var(--light);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    margin-right: 20px;
    float: right;
}

.header nav ul li {
    display: inline-block;
    padding-top: 35px;
    margin-left: 25px;
    font-size: 20px;
    list-style-type: none;
}

/* nav display for smaller devices */
@media screen and (max-width: 640px) {
    .body {
        width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .header h1 {
        padding: 0px;
    }
}

@media screen and (max-width: 640px) {
    .header nav ul li {
        display: flex;
        flex-direction: column;
        padding-left: none;
        font-size: 14px;
    }
}
/* End of classes setting header element of the page */

.work-app-1:hover, .work-app-2:hover, .work-app-3:hover {
    opacity: 0.4;
}



